<!DOCTYPE html>
<html lang="en">
<head> 
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment application</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home_page.css' %}">
</head>
<body>
    <script>
        function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
        }
        
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
        }
    </script>
    <section>
        <div class="Img_header">
            <div class="Img_heading">
        </div>
    </section>
</body>
</html>