<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'login_page.css' %}">
</head>
<body>
    
    <div class="tbl">
        <h1>Register your bank account</h1>
        <form action="" method="post">
            {% csrf_token %} <!--  avoid fobidden error -->
            <!-- {{form.as_p}}    -->
             <div class="form-group">
                {{ form.account_number }}
            </div>
            <div class="form-group">
                {{ form.ifsc_code }}
            </div>
            <div class="form-group">
                {{ form.name }}
            </div>
            <div class="form-group">
                {{ form.branch_name }}
            </div>
            <div class="form-group">
                {{ form.mobile_number }}
            </div>
            <div class="form-group">
                <!-- <input class="btn btn-primary" type="submit" value="Submit"> --> 
            <input type="submit" value="submit" >
        </form>
    </div>
</body>
</html>